<header>
  <div id="nav-container">
    <img src="assets/logos/banner.png" alt="logo" width="90%">
    <nav>
      <ul>
        <!-- <li><a class="navbar-brand" href="index.html">
          <div class="logo-image">
              <img src="images/logo.png" alt="logo" width="15%" class="img-fluid">
          </div>
        </a></li> -->
        <li><a href="index.html" routerLink="" [routerLinkActiveOptions]="{ exact: true }" routerLinkActive="active">Home</a></li>
        <li><a href="about-us.html" routerLink="/about" routerLinkActive="active">About Us</a></li>
        <li><a href="current-show.html" routerLink="/current-show" routerLinkActive="active">Current Show</a></li>
        <li class="dropdown">
            <a href="past-shows.html" routerLink="/past-shows" routerLinkActive="active" class="dropbtn">Past Shows</a>
            <div class="dropdown-content">
              <a href="past-shows/murder-on-the-orient-express.html">Murder on the Orient Express (Fall 2019)</a>
              <a href="past-shows/i-hate-shakespeare.html">I Hate Shakespeare! (Summer 2019)</a>
              <a href="past-shows/the-drowsy-chaperone.html">The Drowsy Chaperone (Spring 2019)</a>
              <a href="past-shows.html" routerLink="/past-shows">More shows...</a>
            </div>
        </li>
        <li class="dropdown">
          <a href="getting-involved.html" routerLink="/getting-involved" routerLinkActive="active" class="dropbtn">Getting Involved</a>
          <div class="dropdown-content">
            <a href="getting-involved/students.html" routerLink="/getting-involved/students">Students</a>
            <a href="getting-involved/alumni.html" routerLink="/getting-involved/alumni">Alumni</a>
          </div>
        </li>
        <li><a href="contact-us.html" routerLink="/contact" routerLinkActive="active">Contact Us</a></li>
      </ul>
    </nav>
  </div>
</header>

<router-outlet></router-outlet>